<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en">
<head>
     <title>Hisa</title>
     <%= stylesheet_link_tag 'style' %>
     <%= javascript_include_tag :defaults, :cache => true %>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<div id="head-container">
	<div id="header">
		<h1>
			Hisa
		</h1>
	</div>
</div>
<div id="content-container">
	<div id="content-container2">
		<div id="content-container3">
			<div id="content">
			  <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
			  <%= yield %>
			</div>
			<div id="aside">
			</div>
		</div>
	</div>
	<div id="footer-container">
		<div id="footer">
			Copyright © Site name, 2011
		</div>
	</div>
</div>
</body>
</html>
